:root {
 --art-bg-color: #2a607c;
}

/* The foundational CSS for the webpage */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Set the background color for the webpage */
body {
    background: #E7EEF3;
}

/* Format the webpage header */
header {
    display: flex;
	padding: 20px;
	text-align: center;
	justify-content: space-between;
	background-color: var(--art-bg-color);
    color: #ffffff;
	font-family: 'Arial', 'Ebrima', 'Lucida Console';
}

/* Format the headshot image in the header */
.headshot img {
	border-radius: 50%;
	height: 100px;
}

/* Format the caption for the headshot image in the header */
figcaption {
	font-family: 'Lucida Console', 'Arial', 'Ebrima';
	text-align: center;
	margin: 0 10px;
}

/* Format the name in the header */
header p {
	display: inline-block;
	margin: 40px 10px;
	font-size: 30px;
	float: left;
}

/* Format the navigation elementsin the header */

nav {
display: flex;
justify-content: center;
}

nav a {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
	margin: 40px 10px;
}	

a:link {
  text-decoration: none;
  color: #ffffff;
}

a:visited {
  text-decoration: none;
  color: #ffffff;
}

/* Main content width set at 100% */

main {
    width: 100%;
}

/* Flexbox layout for the Introduction section of the main content */
.rocks {
    display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	height: 800px;
    width: 100%;
    margin-bottom: 25px;
	background-image: url("../images/SuperiorRocks.jpg");
}

/* Flexbox layout for the Introduction salutation */

.salutation {
  display: flex;
  justify-content: space-around;
  width: 75%;
}

/* Styling for the elements in the salutation */

.salutation h1{ 
  font-family: 'Arial', 'Ebrima', 'Lucida Console';
  color: #1D4154;
  font-size: 84px;
  text-align: center;
 }
  
.salutation p {
	font-family: 'Arial', 'Ebrima', 'Lucida Console';
	color: #1D4154;
	font-size: 84px;
	font-weight: bold;
	text-align: center
}

/* Styling for the elements in the Intrduction text */

.rocks ul {
	font-family: 'Arial', 'Ebrima', 'Lucida Console';
    font-size: 24px;
	font-weight: bold;
	list-style-type: none;
	color: #1D4154;
}

.rocks li {
	text-align: center;
	margin: 5px;
}

/* Styling for the elements in the Header of the About Me section */

.about {
	padding: 100px;
}

.about h2 {
	text-align: center;
	font-family: 'Arial', 'Ebrima', 'Lucida Console';
	color: #1D4154;
	font-size: 36px;
	margin-bottom: 20px;
	font-weight: bold;
}

.about p {
	text-align: center;
	font-family: 'Arial', 'Ebrima', 'Lucida Console';
	color: #1D4154;
	font-size: 16px;
	font-weight: bold;
	padding-bottom: 20px;
}

/* Flexbox layout and styling for each section in the About Me section */

.aboutarticles {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	flex-direction: column;
	width: 100%;
}

.aboutarticles h3{
	font-family: 'Arial', 'Ebrima', 'Lucida Console';
	color: #ffffff;
	font-size: 24px;
	font-weight: bold;
	padding: 6px 0;
}

.aboutarticles li{
	font-family: 'Arial', 'Ebrima', 'Lucida Console';
	color: #ffffff;
	font-size: 16px;
}

article {
	padding: 10px;
	margin: 10px;
	border-style: solid;
	background-color: var(--art-bg-color);
	color: #ffffff;
}

article ul {
	list-style-type: none;
}

.worked {
	padding: 10px 0;
}

.worked p {
	text-align: left;
	font-family: 'Arial', 'Ebrima', 'Lucida Console';
	color: #ffffff;
	font-size: 16px;
	padding: 6px 0;
}

/* Styling for the elements in the Header of the Projects section */

.projects {
	padding: 100px;
	background: #DBE6EB;
}

.projects h2 {
	text-align: center;
	font-family: 'Arial', 'Ebrima', 'Lucida Console';
	color: #1D4154;
	font-size: 36px;
	margin-bottom: 20px;
	font-weight: bold;
}

.projects p {
	text-align: center;
	font-family: 'Arial', 'Ebrima', 'Lucida Console';
	color: #1D4154;
	font-size: 16px;
	font-weight: bold;
	padding-bottom: 20px;
}

/* Flexbox layout and styling for each section in the Project section */

.currentprojects {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
}

/* Sizing the Flexboxes in the Project section */

.firstone {
	flex: 3 0 300px;
}

.next {
	flex: 0 0 200px;
}

/* Styling for the images in the Project section */

.challenge img {
	width: 300px;
    height: 200px;
    object-fit: contain;
	display: block;
  margin-left: auto;
  margin-right: auto;
  }

.challenge figcaption {
	font-family: 'Lucida Console', 'Arial', 'Ebrima';
	text-align: center;
	margin: 0 10px;
}



.currentprojects h3{
	text-align: center;
	font-family: 'Arial', 'Ebrima', 'Lucida Console';
	color: #ffffff;
	font-size: 24px;
	font-weight: bold;
	padding: 6px 0;
}

/* Flexbox layout and styling for each section in the contact section */

.contact {
    display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 400px;
    width: 100%;
    margin-bottom: 25px;
	background-image: url("../images/SuperiorRocks.jpg");
}

.contact h2 {
	text-align: center;
	font-family: 'Arial', 'Ebrima', 'Lucida Console';
	color: #1D4154;
	font-size: 36px;
	margin-bottom: 20px;
	font-weight: bold;
}

.contact p {
	text-align: center;
	font-family: 'Arial', 'Ebrima', 'Lucida Console';
	color: #1D4154;
	font-size: 16px;
	font-weight: bold;
	padding-bottom: 20px;
}

.contactinfo h3, address{
	font-family: 'Arial', 'Ebrima', 'Lucida Console';
	color: #ffffff;
	font-size: 24px;
	font-weight: bold;
	padding: 6px 0;
}

/* Styling for the Footer section */

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* Styling for the author text in the footer */
#author {
    font-size: 20px;
	font-weight: bold;
}

/* Place a red border around an image in the Projects section upon hover */

.challenge img:hover {
	border: red 5px solid;
}

/* Inserting a message upon hovering over the flexbox headings in the Projects section */

.next h3[data-secret]:hover::after{
	content: attr(data-secret);
	margin: 30px;
	color: red;
}

.firstone h3[data-secret]:hover::after{
	content: attr(data-secret);
	margin: 30px;
	color: red;
}

/* This will place a black border around any image with the text "Screenshot"in the name  */

img[src*="Screenshot"] {
 border: black 5px solid;
}